<div class="a4b6_details">
    <h3>The Audi A4 (B6) first went on sale in 2001 with production coming to an end in 2005. The convertible B6 was produced from 2002 to 2006.
    </h3>
    <div class="imgWrap">
        <img src="img/a4b6_info.jpg" alt="">
    </div>

    <p>The class of the Audi A4 (B6), also known as the Typ 8E, can be described as an attractive compact executive class of car produced by German car manufacturer Audi. The B6 version was the second model produced from the A4 Audi range. This car was produced in three different body styles including a 4 door saloon/sedan, 2 door cabriolet and a 5 door Avant estate/wagon. This stylish compact executive was a great success and came with different petrol and diesel engine options ranging from 1.6 litre to 3.0 litre.</h3>
    <p>The measurements of the Audi A4 (B6) are as follows:</p>
    <ul>
        <li>Length: four door saloon 4,547mm / five door Avant 4,544mm / two door cabriolet 4,573mm</li>
        <li>Width: four door saloon 1,766mm / two door cabriolet 1,777mm</li>
        <li>Height: four door saloon 1,428mm / cabriolet 2,654mm</li>
        <li>Wheelbase: four door saloon 2,650mm / cabriolet 2,654mm</li>
    </ul>
    <h3>Enhance your driving experience with Audi A4 (B6) Car Accessories</h3>
    <p>Enhance your Audi A4 (B6) driving experience by buying car accessories. You can buy cheap and discount Audi A4 (B6) Car Accessories by searching online and comparing the best and cheapest prices. Car Accessories you can buy online include items such as a car stereo, speakers, amplifiers, GPS system, seat covers, infant car seat, DVD and audio systems. Compare the prices to ensure you get the cheapest deals for Audi A4 (B6) car accessories.</p>
</div>