<div class="main col-sm-12">
    <p>Today's AUDI AG looks back at a history that spans more than 100 years of automobile construction. An exciting voyage through time that started in the late 19th century. The Saxon brands of Audi and Horch from Zwickau, Wanderer from Chemnitz and DKW from Zschopau played a decisive role in motor vehicle development in Germany. These four brands amalgamated in 1932 to form Auto Union AG – with the sign of the four rings.</p>
    <div class="a4b5">
        <h2>Audi A4 B5</h2>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="img/a4b5_1.jpg" alt="a4b5_1">
                </div>

                <div class="item">
                    <img src="img/a4b5_2.jpg" alt="a4b5_2">
                </div>

                <div class="item">
                    <img src="img/a4b5_3.jpg" alt="a4b5_3">
                </div>

            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </a>
        </div>
        <p class="info">The Audi A4 is a compact luxury car series made by Volkswagen Group, first sold in 1995 as a 1996 model and replacing the Audi 80.
            It was originally based on the B5, the same as the current VW Passat, and had the same chassis until a redesign in 2002.
            <a ui-sref="a4b5">Read More...</a>
        </p>
    </div>
    <div class="a4b6 col-sm-12">
        <h2>Audi A4 B6</h2>
        <img src="img/a4b6.jpg" alt="a4b6">
        <p>For 2002, the car was redesigned with a new chassis designated B6 (also called "8E" by Audi).
            It received a larger displacement engine, the 220 PS (217 hp/162 kW) 3.0 L V6 as a range topper, as well as new 2.5 L V6 TDI engines with 180 PS (177 hp/132 kW).
            The smaller 1.9 TDI's power was also increased to 130 PS (128 hp/96 kW). A continuously variable transmission was an option on front wheel drive cars.
            The new Audi S4 was introduced in 2003 and still used up to the current (2005) model. The new S4 is powered by a 4.2 L 40-valve V8 engine producing 340 PS (335 hp/250 kW).
            New to the 2003 model S4's are the choice between a 6-speed manual or a new 6-speed Tiptronic gear box.
            In 2003, the Audi A4 received a third bodywork variation and, for the first time, a convertible version that finally replaced the outdated 80 Cabrio.
            Other additions to the range were the introduction of FSI technology (gasoline direct injection) to the atmospheric 2.0 L and an increase in power for the 1.8 L to 163 or 190 PS (161 or 187 hp/120 or 140 kW).
            <a ui-sref="a4b6">Read More...</a>
        </p>
    </div>
    <div class="a4b7 col-sm-12">
        <h2>Audi A4 B7</h2>
        <img src="img/a4b7.jpg" alt="a4b7">
        <p>For the late 2005 model year, the A4 received its third redesign, named the B7 and has been drawn by Italian Walter Maria Da Silva.
            Major changes included a larger and sportier midrange engine, the 2.0 Turbo and 200 PS (197 hp/147 kW), while the V6 was enlarged to 3.2 L with power topping 255 PS (252 hp/188 kW), both of which featured FSI technology.
            The more powerful 1.9 TDI was replaced by a 16-valve 2.0 L engine with power increased to 140 PS (138 hp/103 kW), while the 3.0 TDI from the A6 was introduced as the new range topper, but slightly less powerful.
            Other changes included a new, controversial front grille based on that of the Audi Nuvolari prototype, a redesigned rear end, adaptive bi-xenon headlights, larger front and rear brakes, a new 6-speed
            Tiptronic transmission, suspension tweaks and minor interior modifications.
            Quattro drive is available throughout the range on almost all engines (the 1.6 and 2.0 L aspirated being the exceptions), while the 3.0 TDI had standard quattro.
            The same happened to the new S4, which featured a slightly improved 4.2 V8, now with FSI technology, stroke reduced by 0.2 mm (1/10 of an inch) and a small increase in power, which was now 344 PS (339 hp/253 kW).
            More impressive was the all-new RS4, which debuted in Europe in 2005.
            The RS4 was able to achieve a high power output of 420 PS (414 hp/309 kW) without need for supercharging, joining the small group of atmospheric engines with a specific output over 100 PS/litre.
            Unfortunately for Audi fans, the German brand did not remove the speed limiter, otherwise it was speculated the Audi RS4 could actually overtake the 300 km/h (186 mph) mark.
            <a ui-sref="a4b7">Read More...</a>
        </p>
    </div>
</div>